<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,300;1,400&display=swap" rel="stylesheet">
<div class="container-fluid ">
  <div class="row align-items info ">
    <div class="col" id="menu-tile">
      STAFF BOXE PIED POING
    </div>
    <div class="col change" id="menu-tile">
     
    </div>
   
    <div class="col" id="menu-tile">
        <!-- Place pour le google Maps  
        Staff Boxe Pieds Poings. Club de Kick Boxing, K-1 Gymnase Chanteraine 20 Rue de Rougeau 77176 Savigny Le Temple..-->
      <a href="https://goo.gl/maps/kn5B3PkpA3hk9s7DA">
        <div id="map-tile">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2638.525200499191!2d2.5648627751789927!3d48.59978931887202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5e48e1940e4d9%3A0x6179ed27edd973eb!2sGymnase%20Chanteraine!5e0!3m2!1sfr!2sfr!4v1691579892612!5m2!1sfr!2sfr" width="100%" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <span>Gymnase Chanteraine 20 Rue de Rougeau 77176 Savigny Le Temple</span>
        </div>
      </a>
    </div>
  </div>
</div>

