
.change{
  background: url("src/assets/images/staffboxe.png")no-repeat;

}
.info{
  height: 150px;
  padding-bottom: 15px;
}
#map-tile span{
text-align: center;
opacity: .8;
color: #10054c;
font-family: Oxygen,Tahoma;
}

#menu-tile:hover {
box-shadow: 0 1px 5px 1px #cccccc;
}