.top-row{
padding : 1em 0;
}
.mat-form-field{
    width: 100%;
}
.top-row{
    padding: 1em 0;
}
.mat-form-field{
    width: 100%
}
.image-container{
     width: 200px;
     height: 200px;
     background-color: #f7f7f7;
     border:  2px solid #ccc;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
}

.image-container img {
    width: 200px;
}
.ml-1{
    margin-left: 1em !important;
}
.jumbotron {
    background-color: #ffffcc;
    height: 150px;
  }
  .jumbotron h1 {
    text-align: center;
    color: #006699;
  }
  .jumbotron p {
    text-align: center;
    color: black;
  }
