<div class="detail-section " *ngIf="adherent" >
    <div class="container-fluid">
    <div class=" d-flex justify-content-center align-items-center">
        <h1 style="margin-top: 100px;">{{adherent.name}}</h1>
        <img src="{{adherent.imageUrl}}" class="detail-img align-items-center"/>
      <hr>
    </div>
 

<ul>

    <li><h4>{{adherent.email}}</h4></li>
    <li><h4>{{adherent.adresse}}</h4></li>
    <li><h4>{{adherent.statut}}</h4></li>
    <li><h4>{{adherent.poid}}<small>Kg</small></h4></li>
    <li><h4>{{adherent.phone}}</h4></li>
    <li><h4>{{adherent.section.name | uppercase}}</h4></li>
    <li><h4>{{adherent.categorie.description}}</h4></li>
    <li><h4>{{adherent.sexe.name}}</h4></li>

</ul>

<div class="d-flex flex-row justify-content-center align-items-center">
    <a class="waves-effect waves-light btn" routerLink="/adherent/edit/{{adherent.id}}"><i class="fa fa-pencil"></i></a>
    <a class="btn btn-success" (click)="delete(adherent.id)"><i class="fa fa-trash"></i></a>
</div>

<a routerLink="/adherents">Back to Liste</a>
    </div>
</div>

