table{
    width: 100%;
}
.mt-1{
    margin-top: 2em; 
 }

 .search-input{
    outline: none;
    border: 1px solid  #ccc;
    padding:  8px 10px;
    border-radius: 3px;
 }
 .search-input:active{
    border: 1px solid #bbb;

 }
 .search-input:focus{
    border: 1px solid #a1a1;

 }
