<footer class="panel-footer">
<div class="container">
    <div class="row">
        <section class="col-sm-4">
            <span>
                Horaire d'ouverture:<br>
                Enfants : 17h30 - 18h30 <br/>
                Adultes : 20h00 - 22h00 <br/>
                Adolescents : 18h30 - 20h00 <br/>
                Femmes : 18h30 - 20h00 <br/>
            </span><br>
        </section>
        <section class="col-sm-4">
            Addresse : <br>
            Gymnase Chanteraine 20 Rue de Rougeau <br>
            77176 Savigny Le Temple <br>
        </section >
        <section class="col-sm-4">
           Affiliation federation : <br>
            <a href="https://fkbda.com">FFKBDA</a><br>
           <a href="https://www.ffkmda.com">FFKMDA</a><br>
        </section>
        
    </div> 
    
    
</div>
 </footer> 