<div class="main-content">
    <div class="section-content section-content-p30">
     
        <!--  end footer -->
          <main>
            <div class=" lign-items-center justify-content-center ">

             <h1><p>STAFF BOXE PIEDS POING</p></h1>
            </div>
            <div class="main-content">
              <div class="section-content section-content-p30">
                  <p>Total Adherents : {{totalAdherent}}</p>
                      <div class="container-fluid"> 
                              <div class="row">                     
                                  <div *ngFor="let allAdherent of adherents" class="col-md-3">
                                      <div class="product-box">
                                         
                                          <a routerLink="/adherent/{{allAdherent.id}}">
                                              <img src="{{allAdherent.imageUrl}}" class="img-responsive"/>
                                          </a>
          
                                              <div>
                                                  <a routerLink="/adherent/{{allAdherent.id}}">
                                                      <h2>{{allAdherent.name}}</h2>  <h1>{{allAdherent.prenom}}</h1>
                                                  </a>
                                              </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="d-flex justify-content-center">                  
                              </div>
                            
                      </div>
                  </div>
          </div>
<!--<app-section-list></app-section-list> -->       
          </main>
    </div>
</div>

